header{
    display:flex;
    justify-content: space-between;

}

nav a{
    text-decoration: none;
}

nav ul{
    display: flex;
    list-style: none;
}

nav li{
    margin-left:2em;
}

.conone{
    display: flex;
    /* border: 1px solid black; */
    max-width: 900px;
    height: 335px;
    margin:35px auto;
}
.cononetext{
   
    width:50%;
}
.cononeimg{
   width:50%; 
}

.cononeimg img{
   width:100%;
   height: 100%;
}

.contwobg{
    margin:35px auto;
    background-repeat: none;
    background-size: cover;
    background-position: center;
    background-image: url(/images/bg-curve-desktop.svg);
     height: 550px;
}

.contwo{

    display: flex;
    border: 1px solid black;
    max-width: 900px;
    height: 550px;
    margin:35px auto;
}

.contwotext{
    width:50%;
}

.contwoimg{
    width:50%;
}

.contwoimg img{
    width:100%;
    height: 100%;
}

.box{
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(163, 163, 163);
    background-color: white;
    
    
}

.profile img{

    width:15%;
    border-radius: 100%;
}

.profile{
    
    display: flex;
}

.conthreebg{
    background-color: rgb(143, 143, 252);
    height: 335px;
}

.conthree{
    display: flex;
    margin: auto auto;
    max-width: 900px;
    height: 335px;
}

.conthreetext{
    height: 100%;
    width:50%;
    border: 1px solid black;
}

.conthreeinput{
    height: 100%;
    width:50%;
    border: 1px solid black;
}

footer{
    
    height: 250px;
    background-color: rgb(2, 27, 255);
}

.confour{
    display: flex;
    height: 250px;
    margin: auto auto;
    border: 1px solid black;
    max-width: 900px;


}

.contact{
    
    border:1px solid black;
    height:100%;
    width:50%;
}

.contact img{
    width:50%;
    margin: 20px 0px;
}

.call{
    margin-bottom: 20px;
    display: flex;
}

.call p{
    
    margin-left:10px;
   margin-top:0px;
    margin-bottom:0px;
}

.call img{
    width:20px;
    height: 20px;
}

.mail{
    display: flex;
}

.mail p{
    margin-left:10px;
    margin-top:0px;
    margin-bottom:0px;
}

.mail img{
    width:20px;
    height: 20px;
}

.linkbox{
    border:1px solid black;
    height:100%;
    width:30%;
}

.linkboxx{
    border:1px solid black;
    height:100%;
    width:30%;
}

.social{
    border:1px solid black;
    height:100%;
    width:30%;
}

.linkbox ul{
    list-style: none;
    margin:0px;
}

.linkbox li{
    margin-bottom: 10px;
}

.linkboxx ul{
    list-style: none;
    margin:0px;
}

.linkboxx li{
    margin-left: 0px;
    margin-bottom: 10px;
}

